<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <h3><span class="badge badge-primary">Maitenace</span></h3>
    </a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-toggle="collapse"
      data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Главная страница <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Оформить заявку</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">О нас</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="bg-white mt-5">
  <div class="container py-5">
    <div class="row py-4">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h3><span class="badge badge-primary">Maintenance</span></h3>
        <p class="font-italic text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt.
        </p>
        <ul class="list-inline mt-4">
          <li class="list-inline-item">
            <a href="#" target="_blank" title="twitter"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="#" target="_blank" title="facebook"
              ><i class="fab fa-facebook"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-primary" target="_blank" title="instagram"
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="#" target="_blank" title="pinterest"
              ><i class="fab fa-pinterest"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="#" target="_blank" title="vimeo"
              ><i class="fab fa-vimeo"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">Компания</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2">
            <a href="#" class="text-muted">Главная страница</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-muted">Оформить заявку</a>
          </li>
          <li class="mb-2"><a href="#" class="text-muted">О нас</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">Обратная связь</h6>
        <p class="text-muted mb-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque
          temporibus.
        </p>
        <div class="p-1 rounded border">
          <div class="input-group">
            <input
              type="tel"
              placeholder="Введите ваш номер телефона"
              aria-describedby="button-addon1"
              class="form-control border-0 shadow-0"
            />
            <div class="input-group-append">
              <button type="submit" class="btn btn-link">
                <i class="fa fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Copyrights -->
  <div class="bg-light py-4">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2">
        © 2020. Шаповаленко Данил. Курсовой проект. Донецк. ШАГ
      </p>
    </div>
  </div>
</footer>
