<div class="row">
  <div class="col">
    <h1>Детали</h1>
    <div class="shadow p-2 mt-3" style="overflow: auto;">
      <table class="table table-bordered table-hover" id="clientsTable" *ngIf="details">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Стоимость</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detail of details">
            <td>{{ detail.id }}</td>
            <td>{{ detail.title }}</td>
            <td>{{ detail.price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
