# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/WebClient/dist
/WebClient/tmp
/WebClient/out-tsc
# Only exists if Bazel was run
/WebClient/bazel-out

# dependencies
/WebClient/node_modules

# profiling files
WebClient/chrome-profiler-events*.json
WebClient/speed-measure-plugin*.json

# IDEs and editors
WebClient/.idea
WebClient/.project
WebClient/.classpath
WebClient/.c9/
*WebClient/.launch
WebClient/.settings/
*WebClient/.sublime-workspace

# IDE - VSCode
WebClient/.vscode/*
!WebClient/.vscode/settings.json
!WebClient/.vscode/tasks.json
!WebClient/.vscode/launch.json
!WebClient/.vscode/extensions.json
WebClient/.history/*

# misc
/WebClient/.sass-cache
/WebClient/connect.lock
/WebClient/coverage
/WebClient/libpeerconnection.log
WebClient/npm-debug.log
WebClient/yarn-error.log
WebClient/testem.log
/WebClient/typings

# System Files
WebClient/.DS_Store
WebClient/Thumbs.db

WebApplication/.vs
WebApplication/Maintenance.Entities/bin
WebApplication/Maintenance.Entities/obj
WebApplication/WebApplication/bin
WebApplication/WebApplication/obj
WebApplication/WebApplication/Migrations