<div class="row">
  <div class="col">
    <h1>Добавление нового работника</h1>
    <form class="shadow mt-3 p-3" method="post">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="surname">Фамилия:</label>
            <input
              type="text"
              name="surname"
              id="surname"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">Имя:</label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="patronymic">Отчество:</label>
            <input
              type="text"
              id="patronymic"
              name="patronymic"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="passport">Паспорт:</label>
            <input
              type="text"
              id="passport"
              name="passport"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="specialty">Специальность:</label>
            <select
              name="specialty"
              id="specialty"
              class="form-control"
            ></select>
          </div>
          <div class="form-group">
            <label for="discharge">Разряд:</label>
            <input
              type="text"
              id="discharge"
              name="discharge"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="workExperience">Опыт работы:</label>
            <input
              type="text"
              id="workExperience"
              class="form-control"
              name="workExperience"
              required
            />
          </div>
          <button type="submit" class="btn btn-success mr-1">Добавить</button>
          <button type="reset" class="btn btn-secondary">Очистить</button>
        </div>
        <div class="col-md-6">
          <div *ngIf="exeption !== ''" class="alert alert-danger">
            <h4>Ошибка!</h4>
            <p>
              {{ exeption }}
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
