<div class="text-center mt-5">
  <form
    class="form-signin needs-validation"
    *ngIf="userFormGroup"
    [formGroup]="userFormGroup"
    novalidate
    (ngSubmit)="login()"
  >
    <img
      class="mb-4"
      src="../../assets/image/logo.png"
      alt=""
      width="72"
      height="72"
    />
    <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>
    <label for="inpuinputLogintEmail" class="sr-only">Пользователь:</label>
    <input
      type="text"
      id="inputLogin"
      class="form-control"
      placeholder="Имя пользователя"
      required=""
      autofocus=""
      formControlName="nickname"
    />
    <label for="inputPassword" class="sr-only">Пароль:</label>
    <input
      type="password"
      id="inputPassword"
      class="form-control"
      placeholder="Пароль"
      required=""
      formControlName="password"
    />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
    <p class="mt-5 mb-3 text-muted">© 2020</p>
  </form>
</div>
