<tr>
  <td>{{ clientViewData.id }}</td>
  <td>{{ clientViewData.surname }}</td>
  <td>{{ clientViewData.name }}</td>
  <td>{{ clientViewData.patronymic }}</td>
  <td>{{ clientViewData.passport }}</td>
  <td>{{ clientViewData.dateOfBorn }}</td>
  <td>{{ clientViewData.street }} {{ clientViewData.building }} {{ clientViewData.flat }}</td>
  <td>{{ clientViewData.telephoneNumber }}</td>
  <td>
    <button class="btn btn-warning btn-block">
      <i class="fas fa-pen-square"></i>
    </button>
  </td>
  <td>
    <button class="btn btn-info btn-block">
      <i class="fas fa-info-circle"></i>
    </button>
  </td>
</tr>
