<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h1>Оформление заявки на ремонт</h1>
      <div class="card shadow mt-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md">
              <div class="alert alert-info">
                <h4>Информация для новых клиентов</h4>
                <p class="text-justify">
                  Заполнения данной формы и отправки ее нам, с вами созваняться
                  для уточнения дополнительных сведений о <b>вас</b>,
                  <b>вашем автомобиле</b> и <b>вашей проблеме</b>. После чего
                  для вас подберется подходящий специалист под вашу проблему
                </p>
              </div>
              <div class="alert alert-success">
                <h4>Информация о паспорте</h4>
                <p class="text-justify">
                  Уважаемый клиент, если вы переживаете за ваши личные данные,
                  то не стоит этого делать. Все данные конфеденциальны и паспорт
                  упрощает работу системы и оператора нашего сервестного центра
                </p>
                <p class="text-justify">
                  Если вы все же не доверяете нашему сайту, то пожалуйста
                  обратитесь по телефону
                  <a href="tel:+380660000000">+380660000000</a> для консультации
                </p>
              </div>
            </div>
            <div class="col-md">
              <form
                *ngIf="personRequestForm && personRequestViewData"
                [formGroup]="personRequestForm"
                class="needs-validation"
                novalidate
              >
                <div class="form-group">
                  <label for="">Имя:</label>
                  <input
                    type="text"
                    required
                    placeholder="Укажите ваше имя"
                    class="form-control"
                    name="client_name"
                    id="client_name"
                    formControlName="name"
                    required
                    [ngClass]="{
                      'is-invalid': name.touched && name.invalid,
                      'is-valid': name.touched && name.valid
                    }"
                  />
                  <div *ngIf="name.invalid" class="invalid-feedback">
                    <span *ngIf="name.hasError('required')"
                      >* Укажите ваше имя.</span
                    >
                    <span *ngIf="name.hasError('minlength')"
                      >* Некорректные данные для имени. Минимум 2 символа.</span
                    >
                    <span *ngIf="name.hasError('maxlength')"
                      >* Некорректные данные для имени. Минимум 20
                      символов.</span
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label for="client_surname">Фамилия:</label>
                  <input
                    type="text"
                    required
                    placeholder="Укажите вашу фамилию"
                    class="form-control"
                    name="client_surname"
                    id="client_surname"
                    formControlName="surname"
                    [ngClass]="{
                      'is-invalid': surname.touched && surname.invalid,
                      'is-valid': surname.touched && surname.valid
                    }"
                    required
                  />
                  <div *ngIf="surname.invalid" class="invalid-feedback">
                    <span *ngIf="surname.hasError('required')"
                      >* Укажите вашу фаиилию.</span
                    >
                    <span *ngIf="surname.hasError('minlength')"
                      >* Некорректные данные для фамилии. Минимум 2
                      символа.</span
                    >
                    <span *ngIf="surname.hasError('maxlength')"
                      >* Некорректные данные для фамилии. Минимум 60
                      символов.</span
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label for="client_patronymic">Отчество:</label>
                  <input
                    type="text"
                    required
                    placeholder="Укажите ваше отчество"
                    class="form-control"
                    name="client_patronymic"
                    id="client_patronymic"
                    formControlName="patronymic"
                    required
                    [ngClass]="{
                      'is-invalid': patronymic.touched && patronymic.invalid,
                      'is-valid': patronymic.touched && patronymic.valid
                    }"
                  />
                  <div *ngIf="patronymic.invalid" class="invalid-feedback">
                    <span *ngIf="patronymic.hasError('required')"
                      >* Укажите вашу отчество.</span
                    >
                    <span *ngIf="patronymic.hasError('minlength')"
                      >* Некорректные данные для отчества. Минимум 2
                      символа.</span
                    >
                    <span *ngIf="patronymic.hasError('maxlength')"
                      >* Некорректные данные для отчества. Минимум 30
                      символов.</span
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label for="client_passport">Серия и номер паспорта:</label>
                  <input
                    type="text"
                    name="client_passport"
                    id="client_passport"
                    class="form-control"
                    required
                    placeholder="Пожалуйста, укажите вашу серию и номер паспорта"
                    formControlName="passport"
                    [ngClass]="{
                      'is-invalid': passport.touched && passport.invalid,
                      'is-valid': passport.touched && passport.valid
                    }"
                    required
                  />
                  <div *ngIf="passport.invalid" class="invalid-feedback">
                    <span *ngIf="passport.hasError('required')"
                      >* Укажите ваш паспорт.</span
                    >
                    <span *ngIf="passport.hasError('minlength')"
                      >* Некорректные данные для паспорта. Минимум 8
                      символов.</span
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label for="client_telephone">Номер телефона:</label>
                  <input
                    type="tel"
                    required
                    placeholder="Укажите ваш номер телефона"
                    class="form-control"
                    name="client_telephone"
                    id="client_telephone"
                    formControlName="telephone"
                    [ngClass]="{
                      'is-invalid': telephone.touched && telephone.invalid,
                      'is-valid': telephone.touched && telephone.valid
                    }"
                    required
                  />
                  <div *ngIf="telephone.invalid" class="invalid-feedback">
                    <span *ngIf="telephone.hasError('required')"
                      >* Укажите ваш номер телефона.</span
                    >
                    <span *ngIf="telephone.hasError('minlength')"
                      >* Некорректные данные для номера телефона. Минимум 10
                      символов.</span
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label for="client_problem">Опишите вашу проблему:</label>
                  <textarea
                    name="client_problem"
                    id="client_problem"
                    cols="30"
                    rows="10"
                    required
                    class="form-control"
                    formControlName="descriptionOfTheProblem"
                    [ngClass]="{
                      'is-invalid':
                        descriptionOfTheProblem.touched &&
                        descriptionOfTheProblem.invalid,
                      'is-valid':
                        descriptionOfTheProblem.touched &&
                        descriptionOfTheProblem.valid
                    }"
                  ></textarea>
                  <div
                    *ngIf="descriptionOfTheProblem.invalid"
                    class="invalid-feedback"
                  >
                    <span *ngIf="descriptionOfTheProblem.hasError('required')"
                      >* Укажите вашу проблему.</span
                    >
                    <span *ngIf="descriptionOfTheProblem.hasError('minlength')"
                      >* Некорректные данные для проблему. Минимум 10
                      символов.</span
                    >
                  </div>
                </div>
                <button type="submit" [disabled]="personRequestForm.invalid" class="btn btn-success mr-1">
                  Оформить
                </button>
                <button type="reset" class="btn btn-secondary m-1">
                  Отмена
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
