<div class="row">
  <div class="col">
    <h1>Клиенты</h1>
    <button class="btn btn-success" (click)="appendNewWorker()">
      Добавить нового работника
    </button>
    <div class="shadow p-2 mt-3" style="overflow: auto">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Паспорт</th>
            <th>Разряд</th>
            <th>Опыт работы</th>
            <th>Статус работника</th>
            <th>Специальность работника</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let workerViewData of workersViewData"
            class="{{ getColorForTableRow(workerViewData.status) }}"
          >
            <td>{{ workerViewData.id }}</td>
            <td>{{ workerViewData.surname }}</td>
            <td>{{ workerViewData.name }}</td>
            <td>{{ workerViewData.patronymic }}</td>
            <td>{{ workerViewData.passport }}</td>
            <td>{{ workerViewData.discharge }}</td>
            <td>{{ workerViewData.workExperience }}</td>
            <td>{{ workerViewData.status }}</td>
            <td>{{ workerViewData.specialty }}</td>
            <td>
              <button
                class="btn btn-danger btn-block"
                [disabled]="canRemove(workerViewData.status)"
                (click)="removeWorker(workerViewData.id)"
              >
                <i class="fas fa-trash"></i>
              </button>
            </td>
            <td>
              <button
                class="btn btn-info btn-block"
                (click)="infoWorker(workerViewData.id)"
              >
                <i class="fas fa-info-circle"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-end">
        <paginator
          [currentPage]="currentPage"
          [maxPages]="maxPages"
          [maxCount]="maxCount"
          (changePageEvent)="changePage($event)"
        ></paginator>
      </div>
    </div>
  </div>
</div>
