<div class="row">
  <div class="col">
    <h1>Марки автомобилей</h1>
    <div class="shadow p-2 mt-3" style="overflow: auto;">
      <table
        class="table table-bordered table-hover"
        id="clientsTable"
        *ngIf="marks"
      >
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Модель</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mark of marks">
            <td>{{ mark.id }}</td>
            <td>{{ mark.title }}</td>
            <td>{{ mark.model }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
