<div class="row">
  <div class="col">
    <h1>Информация о работнике</h1>
    <div class="shadow mt-3 p-3">
      <div class="row">
        <div class="col-md-2">
          <p><b>Фамилия:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ workerViewData.surname }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><b>Имя:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ workerViewData.name }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><b>Отчество:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ workerViewData.patronymic }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><b>Паспорт:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ workerViewData.passport }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><b>Разряд:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ workerViewData.discharge }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><b>Опыт работы:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ workerViewData.workExperience }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><b>Статус:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ workerViewData.status }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><b>Специальность:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ workerViewData.specialty }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-warning" (click)="edit()">Редактировать</button>
        </div>
      </div>
    </div>
    <button class="btn btn-secondary mt-3" (click)="goBack()">Назад</button>
  </div>
</div>
