<div class="row">
  <div class="col">
    <h1>Автомобили</h1>
    <button class="btn btn-success" (click)="appendNewCar()">
      Добавить новый автомобиль
    </button>
    <div class="shadow p-2 mt-3" style="overflow: auto">
      <div class="dflex justify-content-between">
        <div>
          <p>Данные: {{ maxCount }}</p>
        </div>
        <div></div>
      </div>
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>Гос. номер</th>
            <th>Марка и модель авто</th>
            <th>Цвет</th>
            <th>Год выпуска</th>
            <th>Владелец</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let carViewData of collection">
            <td>{{ carViewData.id }}</td>
            <td>{{ carViewData.stateNumber }}</td>
            <td>{{ carViewData.markTitle }} {{ carViewData.markModel }}</td>
            <td>{{ carViewData.color }}</td>
            <td>{{ carViewData.yearOfIssue }}</td>
            <td>
              {{ carViewData.surname }} {{ carViewData.name }}
              {{ carViewData.patronymic }}
            </td>
            <td>
              <button
                class="btn btn-warning btn-block"
                (click)="editCar(carViewData.id)"
              >
                <i class="fas fa-pen-square"></i>
              </button>
            </td>
            <td>
              <button
                class="btn btn-info btn-block"
                (click)="infoCar(carViewData.id)"
              >
                <i class="fas fa-info-circle"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-end">
        <paginator
          [currentPage]="currentPage"
          [maxPages]="maxPages"
          [maxCount]="maxCount"
          (changePageEvent)="changePage($event)"
        ></paginator>
      </div>
    </div>
  </div>
</div>
