<div class="row">
  <div class="col">
    <h1>Автомобили</h1>
    <button class="btn btn-success" (click)="appendNewCar()">Добавить новый автомобиль</button>
    <div class="shadow p-2 mt-3">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>Гос. номер</th>
            <th>Марка и модель авто</th>
            <th>Цвет</th>
            <th>Год выпуска</th>
            <th>Владелец</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
