<div class="row">
  <div class="col">
    <h1>Адреса</h1>
    <div class="shadow p-2 mt-3" style="overflow: auto;">
      <table class="table table-bordered table-hover" id="clientsTable" *ngIf="adresses">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>Улица</th>
            <th>Дом</th>
            <th>Квартира</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let address of adresses">
            <td>{{ address.id }}</td>
            <td>{{ address.street }}</td>
            <td>{{ address.building }}</td>
            <td>{{ address.flat }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
