<div class="container mt-3 text-justify">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-3">Заявка на ремонт автомобиля</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia ducimus
          eaque necessitatibus, recusandae natus nemo voluptas, deserunt eum hic
          autem odit nam reiciendis explicabo corrupti molestias atque optio
          temporibus veniam?
        </p>
        <p class="lead">
          <button class="btn btn-primary">Подать заявку</button>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" src="../../assets/image/image01.png" alt="" />
    </div>
    <div class="col-md-8">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
      repudiandae, voluptatem voluptates, aut dicta sequi veniam dolore beatae
      quae quibusdam nulla eius. In ratione consequuntur velit repudiandae
      fugiat! Aspernatur, expedita! Quasi asperiores sint exercitationem,
      accusamus necessitatibus unde temporibus esse adipisci pariatur corrupti
      sequi reiciendis illum? Dicta itaque corporis quae nisi suscipit beatae
      atque. Temporibus exercitationem eum alias consectetur? Necessitatibus,
      quae? Pariatur quaerat corporis eligendi velit porro odit culpa at
      incidunt, aliquam neque laborum quos deleniti in. Sit repudiandae nostrum
      in hic officia, saepe deserunt optio? Laboriosam maiores dolorum illum
      eum. Eius consectetur odit facere atque debitis ipsam. Porro veritatis
      dicta quos numquam reprehenderit maxime vero fuga, tempore necessitatibus
      nulla nobis ipsa, corrupti accusantium nemo ex architecto, nam mollitia
      voluptates odit!
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-8">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
      excepturi placeat laborum qui laboriosam commodi voluptas nulla itaque
      praesentium illo ipsum vero amet quas dignissimos dolores nesciunt?
      Laborum, maiores veritatis? Eius, adipisci eos nesciunt fuga fugit at
      molestias necessitatibus explicabo sequi, voluptatum error, eveniet
      tempore incidunt dolores! Libero velit cupiditate quis distinctio
      dignissimos quas dolorem quibusdam asperiores beatae, ipsa quae! Enim,
      itaque labore? Dolore autem officia expedita soluta fuga doloremque, quo
      assumenda iure voluptates harum? Culpa doloribus fugiat eligendi,
      architecto, id quia modi quis nemo perspiciatis eius excepturi cumque
      ipsa. Numquam animi aliquam impedit saepe sequi! Neque praesentium
      accusamus, facilis autem nobis repellendus, quae, debitis veritatis
      perferendis ut culpa sapiente laborum dignissimos adipisci odit expedita
      rem distinctio totam labore. Architecto.
    </div>
    <div class="col-md-4">
      <img src="../../assets/image/image02.png" class="img-fluid" alt="" />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-4">
      <img src="../../assets/image/image06.png" class="img-fluid" alt="" />
    </div>
    <div class="col-md-8">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id delectus quae
      consequuntur, perspiciatis repellat pariatur rerum eaque quibusdam
      molestiae illo corporis tenetur, quos dolorum nisi, minima impedit nostrum
      laboriosam maiores. Porro, placeat optio, laboriosam minima modi dolor,
      quidem esse soluta repellat veritatis incidunt. Natus quas nobis sapiente
      labore ullam officia quis temporibus aut, quia enim dolorem voluptates
      illum eius voluptas? Nulla deserunt consequatur fugiat, minima deleniti
      velit? Modi a enim dolorem qui, alias quod fugiat dolores nostrum, commodi
      sapiente quisquam cupiditate illum beatae cumque. Eius velit nemo iusto
      possimus non! Quaerat illum qui beatae officiis aperiam quod, atque
      repellendus voluptate dolores mollitia itaque aut omnis explicabo quia
      earum commodi id laudantium neque enim amet. Corporis sunt quos vel
      impedit qui.
    </div>
  </div>
  <hr />
  <div class="row mt-5">
    <div class="col">
      <div class="card">
        <img
          class="card-img-top w-100"
          src="../../../assets/image/photo03.png"
          alt=""
          style="height: 175pt;"
        />
        <div class="card-body">
          <h4 class="card-title">Выезд по адресу</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
            quasi quod impedit aspernatur blanditiis accusantium quaerat?
            Expedita nemo dolore vero. A molestiae numquam, doloremque
            reprehenderit inventore asperiores facilis nisi pariatur!
          </p>
          <button class="btn btn-primary">
            Оформить заявку
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
          class="card-img-top w-100"
          src="../../../assets/image/photo02.png"
          alt=""
          style="height: 175pt;"
        />
        <div class="card-body">
          <h4 class="card-title">Ремонт</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
            quasi quod impedit aspernatur blanditiis accusantium quaerat?
            Expedita nemo dolore vero. A molestiae numquam, doloremque
            reprehenderit inventore asperiores facilis nisi pariatur!
          </p>
          <button class="btn btn-primary">
            Оформить заявку
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
          class="card-img-top w-100"
          src="../../../assets/image/photo01.png"
          alt=""
          style="height: 175pt;"
        />
        <div class="card-body">
          <h4 class="card-title">Диагностика</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
            quasi quod impedit aspernatur blanditiis accusantium quaerat?
            Expedita nemo dolore vero. A molestiae numquam, doloremque
            reprehenderit inventore asperiores facilis nisi pariatur!
          </p>
          <button class="btn btn-primary">
            Оформить заявку
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
