<div class="row">
  <div class="col">
    <h1>Информация об автомобиле</h1>
    <div class="shadow mt-3 p-2">
      <div class="row">
        <div class="col-md-2">
          <p><b>Гос. номер:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ carViewData.stateNumber }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><b>Цвет:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ carViewData.color }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><b>Год выпуска:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ carViewData.yearOfIssue }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><b>Марка и модель:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ carViewData.markTitle }} {{ carViewData.markModel }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><b>Фамилия владельца:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ carViewData.surname }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><b>Имя владельца:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ carViewData.name }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><b>Отчество работника:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ carViewData.patronymic }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><b>Паспорт владельца:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ carViewData.passport }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
