<div class="row">
  <div class="col">
    <h1>Добавление нового авотмобиля</h1>
    <form
      *ngIf="carForm && carViewData"
      [formGroup]="carForm"
      (ngSubmit)="submit()"
      class="shadow mt-3 p-3 needs-validation"
      method="post"
      novalidate
    >
      <div class="row">
        <div class="col-md-6">
          <h5 class="text-muted">Данные автомобиля</h5>
          <div class="form-group">
            <label for="stateNumber">Гос. номер авто:</label>
            <input
              type="text"
              name="stateNumber"
              id="stateNumber"
              class="form-control"
              formControlName="stateNumber"
              required
              [ngClass]="{
                'is-invalid':
                  carForm.controls['stateNumber'].touched &&
                  carForm.controls['stateNumber'].invalid,
                'is-valid':
                  carForm.controls['stateNumber'].touched &&
                  carForm.controls['stateNumber'].valid
              }"
            />
            <div
              *ngIf="carForm.controls['stateNumber'].invalid"
              class="invalid-feedback"
            >
              <span *ngIf="carForm.controls['stateNumber'].hasError('required')"
                >* Укажите государственный номер.</span
              >
              <span
                *ngIf="carForm.controls['stateNumber'].hasError('minlength')"
                >* Некорректные данные для гос. номера. Минимум 8
                символов.</span
              >
            </div>
          </div>
          <div class="form-group">
            <label for="color">Цвет:</label>
            <input
              type="text"
              name="color"
              id="color"
              class="form-control"
              formControlName="color"
              required
              [ngClass]="{
                'is-invalid':
                  carForm.controls['color'].touched &&
                  carForm.controls['color'].invalid,
                'is-valid':
                  carForm.controls['color'].touched &&
                  carForm.controls['color'].valid
              }"
            />
            <div
              *ngIf="carForm.controls['color'].invalid"
              class="invalid-feedback"
            >
              <span *ngIf="carForm.controls['color'].hasError('required')"
                >* Укажите цвет автомобиля.</span
              >
              <span *ngIf="carForm.controls['color'].hasError('minlength')"
                >* Некорректные данные для цвета автомобиля. Минимум 4
                символов.</span
              >
              <span *ngIf="carForm.controls['color'].hasError('maxlength')"
                >* Некорректные данные для цвета автомобиля. Максимум 20
                символов.</span
              >
            </div>
          </div>
          <div class="form-group">
            <label for="yearOfIssue">Год выпуска автомобиля:</label>
            <input
              type="number"
              name="yearOfIssue"
              id="yearOfIssue"
              class="form-control"
              formControlName="yearOfIssue"
              required
              [ngClass]="{
                'is-invalid':
                  carForm.controls['yearOfIssue'].touched &&
                  carForm.controls['yearOfIssue'].invalid,
                'is-valid':
                  carForm.controls['yearOfIssue'].touched &&
                  carForm.controls['yearOfIssue'].valid
              }"
            />
            <div
              *ngIf="carForm.controls['yearOfIssue'].invalid"
              class="invalid-feedback"
            >
              <span *ngIf="carForm.controls['yearOfIssue'].hasError('required')"
                >* Укажите год выпуска автомобиля.</span
              >
              <span *ngIf="carForm.controls['yearOfIssue'].hasError('min')"
                >* Некорректные данные для года выпуска автомобиля. Минимально
                допустимый год 1950.</span
              >
              <span *ngIf="carForm.controls['yearOfIssue'].hasError('max')"
                >* Некорректные данные для года выпуска автомобиля.</span
              >
            </div>
          </div>
          <div class="form-group">
            <label for="markTitle">Марка автомобиля:</label>
            <input
              type="text"
              name="markTitle"
              id="markTitle"
              class="form-control"
              formControlName="markTitle"
              required
              [ngClass]="{
                'is-invalid':
                  carForm.controls['markTitle'].touched &&
                  carForm.controls['markTitle'].invalid,
                'is-valid':
                  carForm.controls['markTitle'].touched &&
                  carForm.controls['markTitle'].valid
              }"
            />
            <div
              *ngIf="carForm.controls['markTitle'].invalid"
              class="invalid-feedback"
            >
              <span *ngIf="carForm.controls['markTitle'].hasError('required')"
                >* Укажите марку автомобиля.</span
              >
              <span *ngIf="carForm.controls['markTitle'].hasError('minlength')"
                >* Некорректные данные о марке автомобиля. Минимум 4
                символов.</span
              >
              <span *ngIf="carForm.controls['markTitle'].hasError('maxlength')"
                >* Некорректные данные о марке автомобиля. Максимум 20
                символов.</span
              >
            </div>
          </div>
          <div class="form-group">
            <label for="markModel">Модель автомобиля:</label>
            <input
              type="text"
              name="markModel"
              id="markModel"
              class="form-control"
              formControlName="markModel"
              required
              [ngClass]="{
                'is-invalid':
                  carForm.controls['markModel'].touched &&
                  carForm.controls['markModel'].invalid,
                'is-valid':
                  carForm.controls['markModel'].touched &&
                  carForm.controls['markModel'].valid
              }"
            />
            <div
              *ngIf="carForm.controls['markModel'].invalid"
              class="invalid-feedback"
            >
              <span *ngIf="carForm.controls['markModel'].hasError('required')"
                >* Укажите модель автомобиля.</span
              >
              <span *ngIf="carForm.controls['markModel'].hasError('maxlength')"
                >* Некорректные данные для модели автомобиля. Максимум 20
                символов.</span
              >
            </div>
          </div>
          <hr />
          <h5 class="text-muted">Данные о владельце</h5>
          <div class="form-group">
            <label for="surnameOwner">Фамилия владельца:</label>
            <input
              type="text"
              name="surnameOwner"
              id="surnameOwner"
              class="form-control"
              formControlName="surname"
              required
              [ngClass]="{
                'is-invalid':
                  carForm.controls['surname'].touched &&
                  carForm.controls['surname'].invalid,
                'is-valid':
                  carForm.controls['surname'].touched &&
                  carForm.controls['surname'].valid
              }"
            />
            <div
              *ngIf="carForm.controls['surname'].invalid"
              class="invalid-feedback"
            >
              <span *ngIf="carForm.controls['surname'].hasError('required')"
                >* Укажите фамилию владельца автомобиля.</span
              >
              <span *ngIf="carForm.controls['surname'].hasError('minlength')"
                >* Некорректные данные фамилии владельца автомобиля. Минимум 4
                символов.</span
              >
              <span *ngIf="carForm.controls['surname'].hasError('maxlength')"
                >* Некорректные данные фамилии владельца автомобиля. Максимум 60
                символов.</span
              >
            </div>
          </div>
          <div class="form-group">
            <label for="nameOwner">Имя владельца:</label>
            <input
              type="text"
              name="nameOwner"
              id="nameOwner"
              class="form-control"
              formControlName="name"
              required
              [ngClass]="{
                'is-invalid':
                  carForm.controls['name'].touched &&
                  carForm.controls['name'].invalid,
                'is-valid':
                  carForm.controls['name'].touched &&
                  carForm.controls['name'].valid
              }"
            />
            <div
              *ngIf="carForm.controls['name'].invalid"
              class="invalid-feedback"
            >
              <span *ngIf="carForm.controls['name'].hasError('required')"
                >* Укажите имя владельца автомобиля.</span
              >
              <span *ngIf="carForm.controls['name'].hasError('minlength')"
                >* Некорректные данные имя владельца автомобиля. Минимум 4
                символов.</span
              >
              <span *ngIf="carForm.controls['name'].hasError('maxlength')"
                >* Некорректные данные имя владельца автомобиля. Максимум 20
                символов.</span
              >
            </div>
          </div>
          <div class="form-group">
            <label for="patronymicOwner">Отчество владельца:</label>
            <input
              type="text"
              name="patronymicOwner"
              id="patronymicOwner"
              class="form-control"
              formControlName="patronymic"
              required
              [ngClass]="{
                'is-invalid':
                  carForm.controls['patronymic'].touched &&
                  carForm.controls['patronymic'].invalid,
                'is-valid':
                  carForm.controls['patronymic'].touched &&
                  carForm.controls['patronymic'].valid
              }"
            />
            <div
              *ngIf="carForm.controls['patronymic'].invalid"
              class="invalid-feedback"
            >
              <span *ngIf="carForm.controls['patronymic'].hasError('required')"
                >* Укажите отчество владельца автомобиля.</span
              >
              <span *ngIf="carForm.controls['patronymic'].hasError('minlength')"
                >* Некорректные данные отчество владельца автомобиля. Минимум 4
                символов.</span
              >
              <span *ngIf="carForm.controls['patronymic'].hasError('maxlength')"
                >* Некорректные данные отчество владельца автомобиля. Максимум
                20 символов.</span
              >
            </div>
          </div>
          <div class="form-group">
            <label for="passportOwner">Паспорт владельца:</label>
            <input
              type="text"
              name="passportOwner"
              id="passportOwner"
              class="form-control"
              formControlName="passport"
              required
              [ngClass]="{
                'is-invalid':
                  carForm.controls['passport'].touched &&
                  carForm.controls['passport'].invalid,
                'is-valid':
                  carForm.controls['passport'].touched &&
                  carForm.controls['passport'].valid
              }"
            />
            <div
              *ngIf="carForm.controls['passport'].invalid"
              class="invalid-feedback"
            >
              <span *ngIf="carForm.controls['passport'].hasError('required')"
                >* Укажите паспорт владельца автомобиля.</span
              >
              <span *ngIf="carForm.controls['passport'].hasError('minlength')"
                >* Некорректные данные паспорта владельца автомобиля. Минимум 8
                символов.</span
              >
            </div>
          </div>
          <button
            type="submit"
            [disabled]="carForm.invalid"
            class="btn btn-success mr-1"
          >
            Добавить
          </button>
          <button type="reset" class="btn btn-secondary">Очистить</button>
        </div>
      </div>
    </form>
  </div>
</div>
