<div class="row">
  <div class="col">
    <h1>{{title}}</h1>
    <form
      *ngIf="carForm && carViewData"
      [formGroup]="carForm"
      (ngSubmit)="submit()"
      class="shadow mt-3 p-3 needs-validation"
      method="post"
      novalidate
    >
      <div class="row">
        <div class="col-md-6">
          <h5 class="text-muted">Данные автомобиля</h5>
          <div class="form-group">
            <label for="stateNumber">Гос. номер авто:</label>
            <input
              type="text"
              name="stateNumber"
              id="stateNumber"
              class="form-control"
              formControlName="stateNumber"
              required
              [attr.disabled]="carViewData.id > 0 ? 'disabled': null"
              [ngClass]="{
                'is-invalid': stateNumber.touched && stateNumber.invalid,
                'is-valid': stateNumber.touched && stateNumber.valid
              }"
            />
            <div *ngIf="stateNumber.invalid" class="invalid-feedback">
              <span *ngIf="stateNumber.hasError('required')"
                >* Укажите государственный номер.</span
              >
              <span *ngIf="stateNumber.hasError('minlength')"
                >* Некорректные данные для гос. номера. Минимум 8
                символов.</span
              >
            </div>
          </div>
          <div class="form-group">
            <label for="color">Цвет:</label>
            <input
              type="text"
              name="color"
              id="color"
              class="form-control"
              formControlName="color"
              required
              [ngClass]="{
                'is-invalid': color.touched && color.invalid,
                'is-valid': color.touched && color.valid
              }"
            />
            <div *ngIf="color.invalid" class="invalid-feedback">
              <span *ngIf="color.hasError('required')"
                >* Укажите цвет автомобиля.</span
              >
              <span *ngIf="color.hasError('minlength')"
                >* Некорректные данные для цвета автомобиля. Минимум 4
                символов.</span
              >
              <span *ngIf="color.hasError('maxlength')"
                >* Некорректные данные для цвета автомобиля. Максимум 20
                символов.</span
              >
            </div>
          </div>
          <div class="form-group">
            <label for="yearOfIssue">Год выпуска автомобиля:</label>
            <input
              type="number"
              name="yearOfIssue"
              id="yearOfIssue"
              class="form-control"
              formControlName="yearOfIssue"
              required
              [attr.disabled]="carViewData.id > 0 ? 'disabled': null"
              [ngClass]="{
                'is-invalid': yearOfIssue.touched && yearOfIssue.invalid,
                'is-valid': yearOfIssue.touched && yearOfIssue.valid
              }"
            />
            <div *ngIf="yearOfIssue.invalid" class="invalid-feedback">
              <span *ngIf="yearOfIssue.hasError('required')"
                >* Укажите год выпуска автомобиля.</span
              >
              <span *ngIf="yearOfIssue.hasError('min')"
                >* Некорректные данные для года выпуска автомобиля. Минимально
                допустимый год 1950.</span
              >
              <span *ngIf="yearOfIssue.hasError('max')"
                >* Некорректные данные для года выпуска автомобиля.</span
              >
            </div>
          </div>
          <div class="form-group">
            <label for="markTitle">Марка автомобиля:</label>
            <input
              type="text"
              name="markTitle"
              id="markTitle"
              class="form-control"
              formControlName="markTitle"
              required
              [attr.disabled]="carViewData.id > 0 ? 'disabled': null"
              [ngClass]="{
                'is-invalid': markTitle.touched && markTitle.invalid,
                'is-valid': markTitle.touched && markTitle.valid
              }"
            />
            <div *ngIf="markTitle.invalid" class="invalid-feedback">
              <span *ngIf="markTitle.hasError('required')"
                >* Укажите марку автомобиля.</span
              >
              <span *ngIf="markTitle.hasError('minlength')"
                >* Некорректные данные о марке автомобиля. Минимум 4
                символов.</span
              >
              <span *ngIf="markTitle.hasError('maxlength')"
                >* Некорректные данные о марке автомобиля. Максимум 20
                символов.</span
              >
            </div>
          </div>
          <div class="form-group">
            <label for="markModel">Модель автомобиля:</label>
            <input
              type="text"
              name="markModel"
              id="markModel"
              class="form-control"
              formControlName="markModel"
              [attr.disabled]="carViewData.id > 0 ? 'disabled': null"
              required
              [ngClass]="{
                'is-invalid': markModel.touched && markModel.invalid,
                'is-valid': markModel.touched && markModel.valid
              }"
            />
            <div *ngIf="markModel.invalid" class="invalid-feedback">
              <span *ngIf="markModel.hasError('required')"
                >* Укажите модель автомобиля.</span
              >
              <span *ngIf="markModel.hasError('maxlength')"
                >* Некорректные данные для модели автомобиля. Максимум 20
                символов.</span
              >
            </div>
          </div>
          <hr />
          <h5 class="text-muted">Данные о владельце</h5>
          <div class="form-group">
            <label for="surnameOwner">Фамилия владельца:</label>
            <input
              type="text"
              name="surnameOwner"
              id="surnameOwner"
              class="form-control"
              formControlName="surname"
              required
              [ngClass]="{
                'is-invalid': surname.touched && surname.invalid,
                'is-valid': surname.touched && surname.valid
              }"
            />
            <div *ngIf="surname.invalid" class="invalid-feedback">
              <span *ngIf="surname.hasError('required')"
                >* Укажите фамилию владельца автомобиля.</span
              >
              <span *ngIf="surname.hasError('minlength')"
                >* Некорректные данные фамилии владельца автомобиля. Минимум 4
                символов.</span
              >
              <span *ngIf="surname.hasError('maxlength')"
                >* Некорректные данные фамилии владельца автомобиля. Максимум 60
                символов.</span
              >
            </div>
          </div>
          <div class="form-group">
            <label for="nameOwner">Имя владельца:</label>
            <input
              type="text"
              name="nameOwner"
              id="nameOwner"
              class="form-control"
              formControlName="name"
              required
              [ngClass]="{
                'is-invalid': name.touched && name.invalid,
                'is-valid': name.touched && name.valid
              }"
            />
            <div *ngIf="name.invalid" class="invalid-feedback">
              <span *ngIf="name.hasError('required')"
                >* Укажите имя владельца автомобиля.</span
              >
              <span *ngIf="name.hasError('minlength')"
                >* Некорректные данные имя владельца автомобиля. Минимум 4
                символов.</span
              >
              <span *ngIf="name.hasError('maxlength')"
                >* Некорректные данные имя владельца автомобиля. Максимум 20
                символов.</span
              >
            </div>
          </div>
          <div class="form-group">
            <label for="patronymicOwner">Отчество владельца:</label>
            <input
              type="text"
              name="patronymicOwner"
              id="patronymicOwner"
              class="form-control"
              formControlName="patronymic"
              required
              [ngClass]="{
                'is-invalid': patronymic.touched && patronymic.invalid,
                'is-valid': patronymic.touched && patronymic.valid
              }"
            />
            <div *ngIf="patronymic.invalid" class="invalid-feedback">
              <span *ngIf="patronymic.hasError('required')"
                >* Укажите отчество владельца автомобиля.</span
              >
              <span *ngIf="patronymic.hasError('minlength')"
                >* Некорректные данные отчество владельца автомобиля. Минимум 4
                символов.</span
              >
              <span *ngIf="patronymic.hasError('maxlength')"
                >* Некорректные данные отчество владельца автомобиля. Максимум
                20 символов.</span
              >
            </div>
          </div>
          <div class="form-group">
            <label for="passportOwner">Паспорт владельца:</label>
            <input
              type="text"
              name="passportOwner"
              id="passportOwner"
              class="form-control"
              formControlName="passport"
              required
              [ngClass]="{
                'is-invalid': passport.touched && passport.invalid,
                'is-valid': passport.touched && passport.valid
              }"
            />
            <div *ngIf="passport.invalid" class="invalid-feedback">
              <span *ngIf="passport.hasError('required')"
                >* Укажите паспорт владельца автомобиля.</span
              >
              <span *ngIf="passport.hasError('minlength')"
                >* Некорректные данные паспорта владельца автомобиля. Минимум 8
                символов.</span
              >
            </div>
          </div>
          <button
            type="submit"
            [disabled]="carForm.invalid"
            class="btn btn-success mr-1"
          >
            Добавить
          </button>
          <button type="reset" class="btn btn-secondary">Очистить</button>
        </div>
      </div>
    </form>
    <button class="btn btn-primary mt-3" (click)="goBack()">Назад</button>
  </div>
</div>
