<div class="container mt-3">
  <div class="row text-justify">
    <div class="col">
      <h3 class="text-primary">Вариант 2 – Техобслуживание</h3>
      <p>
        Требуется создать программную систему, предназначенную для диспетчера
        станции техобслуживания. Такая система должна обеспечивать хранение
        сведений об услугах, оказываемых станцией и их стоимости, о клиентах
        станции, о работниках станции и об автомобилях, которые они ремонтируют
        в текущий момент.
      </p>
      <p>
        Клиент станции – это человек, который хотя бы раз воспользовался
        услугами станции. О клиенте должны хранится следующие сведения:
        паспортные данные, включая фамилию, имя, отчество, дату рождения,
        прописку, а также даты обращения на станцию техобслуживания с указанием
        автомобилей, которые он сдавал в ремонт.
      </p>
      <p>
        Клиент сдает в ремонт не обязательно автомобиль, владельцем которого он
        является.
      </p>
      <p>
        Сведения об автомобилях включают в себя марку автомобиля, его цвет, год
        выпуска, номер государственной регистрации, перечень неисправностей и
        данные о владельце.
      </p>
      <p>
        Сведения о работнике – это его фамилия, имя, отчество, специальность,
        разряд, стаж работы.
      </p>
      <p>
        Диспетчер заносит в БД сведения об автомобиле и о клиенте, если клиент
        обращается на станцию впервые. После этого диспетчер определяет рабочих,
        которые будут устранять имеющиеся в автомобиле неисправности.
      </p>
      <p>
        Оставляя автомобиль на станции техобслуживания, клиент получает
        расписку, в которой указано, когда автомобиль был поставлен на ремонт,
        какие он имеет неисправности, когда станция обязуется возвратить
        отремонтированный автомобиль.
      </p>
      <p>
        После возвращения автомобиля клиенту данные о произведенном ремонте
        помещаются в архив, клиент получает счет, в котором содержится перечень
        устраненных неисправностей с указанием времени работы, стоимости работы
        и стоимости запчастей.
      </p>
      <p>
        Возможно увольнение и прием на работу работников станции, изменение
        сведений о клиенте (клиент может поменять паспорт, права, адрес,
        телефон), номера государственной регистрации и цвета автомобиля.
      </p>
      <p>Диспетчеру могут потребоваться следующие сведения:</p>
      <ol>
        <li>
          Фамилия, имя, отчество и адрес владельца автомобиля с данным номером
          государственной регистрации?
        </li>
        <li>Марка и год выпуска автомобиля данного владельца?</li>
        <li>
          Перечень устраненных неисправностей в автомобиле данного владельца?
        </li>
        <li>
          Фамилия, имя, отчество работника станции, устранявшего данную
          неисправность в автомобиле данного клиента, и время ее устранения?
        </li>
        <li>
          Фамилия, имя, отчество клиентов, сдавших в ремонт автомобили с
          указанным типом неисправности?
        </li>
        <li>
          Самая распространенная неисправность в автомобилях указанной марки?
        </li>
        <li>Количество рабочих каждой специальности на станции?</li>
      </ol>
      <p>
        Необходимо предусмотреть возможность выдачи справки о количестве
        автомобилей в ремонте на текущий момент, количестве незанятых рабочих на
        текущий момент.
      </p>
      <p>
        Требуется также выдача месячного отчета о работе станции
        техобслуживания. В отчет должны войти данные о количестве устраненных
        неисправностей каждого вида и о доходе, полученном станцией, а также
        перечень отремонтированных за прошедший месяц и находящихся в ремонте
        автомобилей, время ремонта каждого автомобиля, список его
        неисправностей, сведения о работниках, осуществлявших ремонт.
      </p>
    </div>
  </div>
</div>
