<tr class="{{ getColorForTableRow() }}">
  <td>{{ workerViewData.id }}</td>
  <td>{{ workerViewData.surname }}</td>
  <td>{{ workerViewData.name }}</td>
  <td>{{ workerViewData.patronymic }}</td>
  <td>{{ workerViewData.passport }}</td>
  <td>{{ workerViewData.discharge }}</td>
  <td>{{ workerViewData.workExperience }}</td>
  <td>{{ workerViewData.status }}</td>
  <td>{{ workerViewData.specialty }}</td>
  <td>
    <button class="btn btn-warning btn-block">
      <i class="fas fa-pen-square"></i>
    </button>
  </td>
  <td>
    <button class="btn btn-info btn-block">
      <i class="fas fa-info-circle"></i>
    </button>
  </td>
</tr>
