<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h1>О компании</h1>
      <div
        id="carouselExampleIndicators"
        class="carousel slide mt-3"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../../../assets/image/photo01.png"
              class="d-block w-100"
              alt="..."
              style="height: 400pt"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../../assets/image/photo02.png"
              class="d-block w-100"
              alt="..."
              style="height: 400pt"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../../assets/image/photo03.png"
              class="d-block w-100"
              alt="..."
              style="height: 400pt"
            />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Предыдущая</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Следующая</span>
        </a>
      </div>
      <p class="text-justify mt-3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam nulla
        autem ab sed, quas aliquam mollitia molestias harum praesentium? Eius
        repellat amet ab voluptates ex alias laboriosam quia vel velit? Eius
        fugit voluptatum alias eaque fuga. Quam suscipit dolor illum quidem
        consectetur enim, aliquam dolore, illo ad sapiente id quae excepturi,
        dicta fugiat laboriosam. Perferendis enim aliquam similique adipisci ut?
        Culpa repellat beatae eligendi sed maiores cupiditate aperiam dolorem,
        voluptate consequuntur asperiores quisquam. Minus obcaecati veritatis
        pariatur, odit magnam libero totam at perferendis nostrum, delectus
        voluptatem quia eum aspernatur ipsam! Nisi consequuntur, sint quas
        adipisci ex neque asperiores velit rem obcaecati impedit aliquam, eius
        totam nesciunt deserunt corporis repellendus, expedita accusamus iste
        minima non labore alias? Praesentium repellat corporis qui?
        Reprehenderit molestias laboriosam explicabo doloremque voluptatibus.
        Repellat veritatis eveniet eligendi quis quia, iusto repudiandae nostrum
        blanditiis incidunt dignissimos accusantium omnis velit cumque in sunt?
        Assumenda quod voluptates non quos magnam! Fugit omnis assumenda,
        quisquam consequatur, consectetur in beatae, voluptates dolorem suscipit
        aperiam qui molestiae natus eligendi amet alias nostrum at impedit?
        Accusamus ducimus quis quasi voluptatem reprehenderit debitis porro
        quae. Magni est aliquid labore velit blanditiis vel, voluptatibus
        voluptate aspernatur odit necessitatibus asperiores. Eveniet excepturi
        fugiat voluptatum, reiciendis deserunt sit eius porro asperiores a et
        ipsam enim quidem repudiandae expedita! Sapiente doloremque ipsum
        tenetur corrupti soluta veniam et beatae dolores. Inventore deserunt
        perferendis asperiores possimus esse quod totam et dicta itaque incidunt
        quidem explicabo, doloribus nesciunt odit officia dolores! Odit! Quos
        quo incidunt dolorem quae at dignissimos, qui alias libero numquam eos
        voluptatum eaque aut necessitatibus dolorum et quod doloremque quis
        repellendus repellat distinctio atque ratione! Exercitationem sequi quod
        repellat! Asperiores inventore, ullam illum voluptatum aliquid
        consequuntur quidem saepe necessitatibus quam reprehenderit explicabo
        deleniti qui. Blanditiis corrupti ullam nobis quae totam facere,
        deleniti, maxime distinctio mollitia magni, debitis voluptatem nisi.
      </p>
      <ul>
        <li>
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quis vero, illo dignissimos sint repudiandae corporis reiciendis doloribus facere maiores, cum nobis ab ex a nesciunt enim ullam velit reprehenderit?</div>
          <div>Fugiat velit obcaecati fuga hic asperiores. Beatae adipisci eum labore. Iusto, vel officiis. Deleniti dignissimos eos officia voluptates, corrupti ducimus velit, repudiandae porro eaque, excepturi quidem ipsam quibusdam adipisci labore!</div>
        </li>
        <li>
          <div>Molestiae, reprehenderit nostrum! Sapiente consequuntur provident culpa, ullam incidunt mollitia amet officia facilis dignissimos officiis corporis velit. Doloribus tempore aspernatur quos repellendus non nemo nam voluptatem. Architecto velit laborum libero!</div>
          <div>Doloribus magni animi odit odio aspernatur molestias officia possimus quis vero incidunt impedit eligendi omnis dicta pariatur in praesentium harum deserunt quam, tempore voluptatibus veritatis. Ex dolor esse vitae corrupti?</div>
        </li>
        <li>
          <div>Illo eum vitae repellendus tempora inventore cumque impedit, enim non aliquid, nostrum nisi repudiandae perferendis hic ducimus necessitatibus dolore suscipit excepturi magni. Dolorem in quaerat eos nam nostrum asperiores quo.</div>
          <div>Rem iusto ad eligendi quae accusantium possimus ex. Laudantium molestias aliquid, hic illum cum explicabo ad quos recusandae officiis exercitationem itaque architecto in neque doloribus natus commodi! Officia, iste ab?</div>
        </li>
      </ul>
    </div>
  </div>
</div>
