<div class="row">
  <div class="col">
    <h1>{{ title }}</h1>
    <form
      class="shadow mt-3 p-3"
      *ngIf="clientForm && clientViewData"
      [formGroup]="clientForm"
    >
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="surname">Фамилия:</label>
            <input
              type="text"
              name="surname"
              id="surname"
              class="form-control"
              formControlName="surname"
              [attr.disabled]="clientViewData.id > 0 ? 'disabled': null"
              required
              [ngClass]="{
                'is-invalid': surname.touched && surname.invalid,
                'is-valid': surname.touched && surname.valid
              }"
            />
            <div *ngIf="surname.invalid" class="invalid-feedback">
              <span *ngIf="surname.hasError('required')"
                >* Укажите фамилию.</span
              >
            </div>
          </div>
          <div class="form-group">
            <label for="name">Имя:</label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              formControlName="name"
              [attr.disabled]="clientViewData.id > 0 ? 'disabled': null"
              required
              [ngClass]="{
                'is-invalid': name.touched && name.invalid,
                'is-valid': name.touched && name.valid
              }"
            />
            <div *ngIf="name.invalid" class="invalid-feedback">
              <span *ngIf="name.hasError('required')">* Укажите имя.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="patronymic">Отчество:</label>
            <input
              type="text"
              id="patronymic"
              name="patronymic"
              class="form-control"
              formControlName="patronymic"
              [attr.disabled]="clientViewData.id > 0 ? 'disabled': null"
              required
              [ngClass]="{
                'is-invalid': patronymic.touched && patronymic.invalid,
                'is-valid': patronymic.touched && patronymic.valid
              }"
            />
            <div *ngIf="patronymic.invalid" class="invalid-feedback">
              <span *ngIf="patronymic.hasError('required')"
                >* Укажите отчество.</span
              >
            </div>
          </div>
          <div class="form-group">
            <label for="passport">Паспорт:</label>
            <input
              type="text"
              id="passport"
              name="passport"
              class="form-control"
              formControlName="passport"
              required
              [attr.disabled]="clientViewData.id > 0 ? 'disabled': null"
              [ngClass]="{
                'is-invalid': passport.touched && passport.invalid,
                'is-valid': passport.touched && passport.valid
              }"
            />
            <div *ngIf="passport.invalid" class="invalid-feedback">
              <span *ngIf="passport.hasError('required')"
                >* Укажите паспорт.</span
              >
            </div>
          </div>
          <div class="form-group">
            <label for="dateOfBorn">Дата рождения:</label>
            <input
              type="date"
              id="dateOfBorn"
              name="dateOfBorn"
              class="form-control"
              formControlName="dateOfBorn"
              required
              [attr.disabled]="clientViewData.id > 0 ? 'disabled': null"
              [ngClass]="{
                'is-invalid': dateOfBorn.touched && dateOfBorn.invalid,
                'is-valid': dateOfBorn.touched && dateOfBorn.valid
              }"
            />
            <div *ngIf="dateOfBorn.invalid" class="invalid-feedback">
              <span *ngIf="dateOfBorn.hasError('required')"
                >* Укажите дату рождения.</span
              >
            </div>
          </div>
          <div class="form-group">
            <label for="telephoneNumber">Номер телефона:</label>
            <input
              type="tel"
              id="telephoneNumber"
              name="telephoneNumber"
              formControlName="telephoneNumber"
              class="form-control"
              required
              [ngClass]="{
                'is-invalid':
                  telephoneNumber.touched && telephoneNumber.invalid,
                'is-valid': telephoneNumber.touched && telephoneNumber.valid
              }"
            />
            <div *ngIf="telephoneNumber.invalid" class="invalid-feedback">
              <span *ngIf="telephoneNumber.hasError('required')"
                >* Укажите номер телефона.</span
              >
            </div>
          </div>
          <hr />
          <h5 class="text-muted">Адрес проживания</h5>
          <div class="form-group">
            <label for="street">Улица:</label>
            <input
              type="text"
              id="street"
              name="street"
              class="form-control"
              formControlName="street"
              required
              [ngClass]="{
                'is-invalid': street.touched && street.invalid,
                'is-valid': street.touched && street.valid
              }"
            />
            <div *ngIf="street.invalid" class="invalid-feedback">
              <span *ngIf="street.hasError('required')"
                >* Укажите улицу проживания.</span
              >
            </div>
          </div>
          <div class="form-group">
            <label for="building">Здание:</label>
            <input
              type="text"
              id="building"
              name="building"
              class="form-control"
              formControlName="building"
              required
              [ngClass]="{
                'is-invalid': building.touched && building.invalid,
                'is-valid': building.touched && building.valid
              }"
            />
            <div *ngIf="building.invalid" class="invalid-feedback">
              <span *ngIf="building.hasError('required')"
                >* Укажите дом проживания.</span
              >
            </div>
          </div>
          <div class="form-group">
            <label for="flat">Квартира:</label>
            <input
              type="number"
              id="flat"
              formControlName="flat"
              name="flat"
              class="form-control"
              min="0"
            />
          </div>
          <button
            type="submit"
            [disabled]="clientForm.invalid"
            class="btn btn-success mr-1"
          >
            Добавить
          </button>
          <button type="reset" class="btn btn-secondary">Очистить</button>
        </div>
      </div>
    </form>
    <button class="btn btn-primary mt-3" (click)="goBack()">Назад</button>
  </div>
</div>
