<div class="row">
  <div class="col">
    <h1>Активные заявки</h1>
  </div>
</div>
<div class="row">
  <div class="col" *ngIf="!requests || requests.length <= 0">
    <div class="alert alert-warning">
      <p><b> Внимание! </b></p>
      <p>В данный момент нет активных заявок.</p>
    </div>
  </div>
  <div class="col" *ngIf="requests && requests.length > 0">
    <div class="d-flex align-content-start flex-wrap">
      <div *ngFor="let request of requests" class="w-50 h-100">
        <person-reqest-card [request]="request"></person-reqest-card>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <paginator
      [currentPage]="currentPage"
      [maxPages]="maxPages"
      [maxCount]="maxCount"
      (changePageEvent)="sendData($event, null)"
    ></paginator>
  </div>
</div>
