<tr>
  <td>{{ carViewData.id }}</td>
  <td>{{ carViewData.stateNumber }}</td>
  <td>{{ carViewData.markTitle }} {{ carViewData.markModel }}</td>
  <td>{{ carViewData.color }}</td>
  <td>{{ carViewData.yearOfIssue }}</td>
  <td>
    {{ carViewData.surname }} {{ carViewData.name }}
    {{ carViewData.patronymic }}
  </td>
  <td>
    <button class="btn btn-warning btn-block">
      <i class="fas fa-pen-square"></i>
    </button>
  </td>
  <td>
    <button class="btn btn-info btn-block">
      <i class="fas fa-info-circle"></i>
    </button>
  </td>
</tr>
