<div class="row">
  <div class="col">
    <h1>Информация о клиенте</h1>
    <div class="shadow mt-3 p-2">
      <div class="row">
        <div class="col-md-2">
          <p><b>Фамилия:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ clientViewData.surname }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><b>Имя:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ clientViewData.name }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><b>Отчество:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ clientViewData.patronymic }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><b>Паспорт:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ clientViewData.passport }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><b>Дата рождения:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ clientViewData.dateOfBorn.toLocaleDateString() }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><b>Номер телефона:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ clientViewData.telephoneNumber }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><b>Улица проживания:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ clientViewData.street }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><b>Дом:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ clientViewData.building }}</p>
        </div>
      </div>
      <div class="row" *ngIf="{{ clientViewData.flat !== undefined }}">
        <div class="col-md-2">
          <p><b>Квартира:</b></p>
        </div>
        <div class="col-md-10">
          <p>{{ clientViewData.flat }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
